In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
from sklearn.neighbors import BallTree

In [13]:
## Create two GeoDataFrame with different set of coordinates
lsms_coord = gpd.GeoDataFrame({
    'geometry': Point(a,b),
    'x': a,
    'y': b,
    } for a, b in zip(np.random.rand(100000), np.random.rand(100000))
)

In [14]:
wealth = gpd.GeoDataFrame({
        'geometry': Point(a, b),
        'x': a,
        'y': b,
    } for a, b in zip(np.random.rand(3000), np.random.rand(3000))
)

In [15]:
# Create a BallTree 
tree = BallTree(wealth[['x', 'y']].values, leaf_size=2)

In [29]:
# Query the BallTree on each feature from 'lsms_coord' to find the distance
# to the nearest 'wealth' and its id
lsms_coord['distance_nearest'], lsms_coord['id_nearest'] = tree.query(
    appart[['x', 'y']].values, # The input array for the query
    k=1, # The number of nearest neighbors
)

In [30]:
lsms_coord

,geometry,x,y,distance_nearest,id_nearest
0,POINT (0.02004 0.17972),0.020044,0.179724,0.009207,2401
1,POINT (0.69115 0.83147),0.691152,0.831474,0.008178,214
2,POINT (0.40269 0.57012),0.402687,0.570120,0.011707,2892
3,POINT (0.91894 0.29313),0.918938,0.293134,0.014907,2704
4,POINT (0.29221 0.52856),0.292212,0.528557,0.013688,1717
...,...,...,...,...,...
99995,POINT (0.85043 0.60928),0.850430,0.609284,0.010548,36
99996,POINT (0.57631 0.86200),0.576309,0.862003,0.008693,1637
99997,POINT (0.95308 0.25075),0.953081,0.250746,0.005629,2766
99998,POINT (0.90469 0.87759),0.904691,0.877585,0.000406,50
99999,POINT (0.41747 0.41972),0.417469,0.419723,0.006859,1411

In [33]:
wealth

                     geometry         x         y
0     POINT (0.93128 0.88343)  0.931282  0.883431
1     POINT (0.21402 0.18353)  0.214015  0.183535
2     POINT (0.68867 0.51809)  0.688665  0.518095
3     POINT (0.69091 0.46991)  0.690909  0.469913
4     POINT (0.62493 0.04281)  0.624932  0.042813
...                       ...       ...       ...
2995  POINT (0.68405 0.51143)  0.684048  0.511430
2996  POINT (0.98045 0.78491)  0.980454  0.784911
2997  POINT (0.05534 0.28689)  0.055341  0.286888
2998  POINT (0.18554 0.81859)  0.185535  0.818593
2999  POINT (0.20578 0.23571)  0.205776  0.235713

[3000 rows x 3 columns]